/* let charts cover full available screen */
#content {
    max-width: none;
}

#content-column {
    right: 0;
}

/* general styles */
div.error {
    padding: 2em 0;
    color: red;
    font-weight: bold;
}

/* stats area */
#stats-area #stats-intro {
     max-width: 60em;
     margin-top: 2em;
}

#stats-area .last-updated {
    font-size: 0.7em;
    opacity: 0.7;
}

#stats-area .chart-intro {
    max-width: 60em;
    margin-top: 1em;
}

#stats-area .chart {
    margin: 1em 0;
    height: 600px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#stats-area .pie-chart {
    max-width: 900px; /* pie charts don't extend across page, so keep them left-aligned in their box */
}

#stats-area .bar-chart {
    height: 400px; /* bar charts don't need as much vertical room to be readable */
}

#stats-area #support-box {
    max-width: 45em;
    background: rgba(0, 170, 0, 0.2);
    padding: 0.5em 1em;
    margin-bottom: 1em;
}
